body { 
  background-color: black;
}

.clock {
  margin: 0 auto;
  width: 1220px;
  position: relative;
}

.digit { 
  background-image: url(../images/digits.png);
  position: absolute;
}

.hour-ten {
  top: 0;
  left: 0;
}

.hour-one {
  top: 0;
  left: 283px;
}

.dots {
  top: 125px;
  left: 566px;
}

.min-ten {
  top: 0;
  left: 654px;
}

.min-one {
  top: 0;
  left: 937px;
}

.d1{ background-position: 0 0; width: 283px; height: 499px; } 
.d2{ background-position: -333px 0; width: 283px; height: 499px; } 
.d3{ background-position: -666px 0; width: 283px; height: 499px; } 
.d4{ background-position: -999px 0; width: 283px; height: 499px; } 
.d5{ background-position: -1332px 0; width: 283px; height: 499px; } 
.d6{ background-position: -1665px 0; width: 283px; height: 499px; } 
.d7{ background-position: 0 -549px; width: 283px; height: 499px; } 
.d8{ background-position: -333px -549px; width: 283px; height: 499px; } 
.d9{ background-position: -666px -549px; width: 283px; height: 499px; } 
.d0{ background-position: -1137px -549px; width: 283px; height: 499px; } 
.dots{ background-position: -999px -549px; width: 88px; height: 250px; } 
